@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  background-color: white;
  @include flexCenter();
  flex-direction: column;
  --theme-color: rgb(49, 34, 252);
  --techicons-color-purple: invert(25%) sepia(100%) saturate(6105%)
    hue-rotate(246deg) brightness(101%) contrast(102%);
  --techicons-color-white: invert(100%) sepia(0%) saturate(1%)
    hue-rotate(163deg) brightness(107%) contrast(101%);
}

.container {
  min-height: 100vh;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

.landing {
  background: rgba(0, 0, 0, 1);
  width: 100%;
  transform: scaleX(0) scaleY(0.005);
  @include flexCenter();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: url("../assets/images/sunrise2.jpg");
    background-size: cover;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    background-size: cover;
  }
  .intro {
    z-index: 3;
    position: relative;
    @include flexCenter();
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding-bottom: 2rem;
    .header {
      color: white;
      font-family: "Montserrat", sans-serif;
      span {
        transition: color 0.5s linear;
      }
      span.neg {
        color: #4437fd;
      }
      &:hover {
        .pos {
          color: #4437fd;
        }
        .neg {
          color: white;
        }
      }
    }
    h1.header {
      font-size: 3.5rem;
      margin: 3rem 0 1rem 0;
      opacity: 0;
    }
    h2.header {
      font-size: 2rem;
      font-weight: lighter;
      opacity: 0;
    }

    div {
      font-size: 1.5rem;
      position: relative;
      height: 1.7rem;
      opacity: 0;
      min-width: 10px;
      color: white;
      margin-top: 2rem;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        right: -2px;
        background-color: white;
        animation: blink 1s linear infinite;
      }
    }
  }

  .info-typed {
    z-index: 3;
    color: white;
    font-family: "Montserrat";
    font-size: 1.2rem;
    margin-top: 5rem;
  }

  .more-info {
    z-index: 3;
    position: relative;
    color: white;
    text-align: center;
    width: 50%;
    opacity: 0;
    margin-top: 5em;
    font-size: 1.2rem;
    p {
      margin: 1rem auto;
      width: 100%;
      text-align: center;
    }

    &:after {
      position: absolute;
      content: "";
      left: 30%;
      top: -10%;
      bottom: -10%;
      right: 30%;
      background-color: rgba(49, 34, 252, 0.5);
      border-radius: 50%;
      z-index: -1;
      animation: morph 10s linear alternate-reverse infinite;
    }
  }
}

.techstack {
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  .side {
    width: 30%;
    animation: rotate 10s linear infinite;
  }

  .mars {
    position: absolute;
    top: 10%;
    left: 0;
    transform: translateX(-100%);
  }
  .earth {
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateX(100%);
  }
  h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    z-index: 1;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      top: 50%;
      border-radius: 50%;
      bottom: -30%;
      left: -50%;
      right: -50%;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        var(--theme-color) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: -1;
      filter: blur(10px);
    }
  }

  .technologies {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .tech-icons {
      position: relative;
      width: 30vmax;
      height: 30vmax;
      margin-top: 1rem;
      .icon {
        z-index: 3;
        position: absolute;
        width: 15%;
        transform: scale(0.01);
        opacity: 0;
        transform-origin: 50% 50%;
        transition: filter 0.2s linear;
        filter: var(--techicons-color-white);

        &:hover {
          filter: var(--techicons-color-purple);
        }
      }

      .centered-name {
        color: white;
        position: absolute;
        font-family: "Montserrat", sans-serif;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s linear;
        &:before {
          content: "";
          position: absolute;
          transform: scale(5);
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: radial-gradient(var(--theme-color), rgba(0, 0, 0, 0));
          z-index: -1;
          filter: blur(10px);
        }
      }
    }
  }
}

.projects {
  .rocket-wrapper {
    .rocket {
      transform: translateX(0);
      width: 10vmax;
      height: 10vmax;
      position:relative;
      z-index:1;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center;
        background-size: contain;
        background-image: url("../assets/images/rocket.svg");
        background-repeat: no-repeat;
        z-index: 1;
      }
      &:before {
        content: "";
        position: absolute;
        top: 40%;
        left: -35%;
        width: 50%;
        height: 20%;
        background-position: center;
        background-size: contain;
        background-image: url("../assets/images/fire.svg");
        background-repeat: no-repeat;
        z-index: -1;
        animation: scaleWave .6s linear infinite alternate-reverse;
      }
    }
  }
}
.icon-highlight {
  filter: var(--techicons-color-purple);
}

.icon-no-highlight {
  filter: var(--techicons-color-white);
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveBg {
  from {
    background-position: 100%;
  }
  to {
    background-position: -100%;
  }
}

@keyframes morph {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}

@keyframes scaleWave {
    from {
        transform:scale(1) scaleX(1);
    }
    to {
        transform:scale(1.1) scaleX(1.1);
    }
}
