@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  --theme-color:rgb(49, 34, 252);
  --techicons-color-purple:invert(25%) sepia(100%) saturate(6105%) hue-rotate(246deg) brightness(101%) contrast(102%);
  --techicons-color-white:invert(100%) sepia(0%) saturate(1%) hue-rotate(163deg) brightness(107%) contrast(101%);
}

.container {
  height: 100vh;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

.landing {
  background: black;
  width: 100%;
  -webkit-transform: scaleX(0) scaleY(0.005);
          transform: scaleX(0) scaleY(0.005);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.landing:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background: url("../assets/images/sunrise2.jpg");
  background-size: cover;
}

.landing:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  background-size: cover;
}

.landing .intro {
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  padding-bottom: 2rem;
}

.landing .intro .header {
  color: white;
  font-family: 'Montserrat',sans-serif;
}

.landing .intro .header span {
  -webkit-transition: color .5s linear;
  transition: color .5s linear;
}

.landing .intro .header span.neg {
  color: #4437fd;
}

.landing .intro .header:hover .pos {
  color: #4437fd;
}

.landing .intro .header:hover .neg {
  color: white;
}

.landing .intro h1.header {
  font-size: 3.5rem;
  margin: 3rem 0 1rem 0;
  opacity: 0;
}

.landing .intro h2.header {
  font-size: 2rem;
  font-weight: lighter;
  opacity: 0;
}

.landing .intro div {
  font-size: 1.5rem;
  position: relative;
  height: 1.7rem;
  opacity: 0;
  min-width: 10px;
  color: white;
  margin-top: 2rem;
}

.landing .intro div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: -2px;
  background-color: white;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

.landing .info-typed {
  z-index: 3;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  margin-top: 5rem;
}

.landing .more-info {
  z-index: 3;
  position: relative;
  color: white;
  text-align: center;
  width: 50%;
  opacity: 0;
  margin-top: 5em;
  font-size: 1.2rem;
}

.landing .more-info p {
  margin: 1rem auto;
  width: 100%;
  text-align: center;
}

.landing .more-info:after {
  position: absolute;
  content: '';
  left: 30%;
  top: -10%;
  bottom: -10%;
  right: 30%;
  background-color: rgba(49, 34, 252, 0.5);
  border-radius: 50%;
  z-index: -1;
  animation: morph 10s linear alternate-reverse infinite;
}

.techstack {
  padding: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.techstack .side {
  width: 30%;
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
}

.techstack .mars {
  position: absolute;
  top: 10%;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.techstack .earth {
  position: absolute;
  top: 30%;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.techstack h1 {
  color: white;
  font-family: 'Montserrat',sans-serif;
  font-size: 2rem;
  z-index: 1;
  position: relative;
}

.techstack h1:before {
  position: absolute;
  content: '';
  top: 50%;
  border-radius: 50%;
  bottom: -30%;
  left: -50%;
  right: -50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, var(--theme-color)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--theme-color) 50%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.techstack .technologies {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.techstack .technologies .tech-icons {
  position: relative;
  width: 50vmin;
  height: 50vmin;
  margin-top: 1rem;
}

.techstack .technologies .tech-icons .icon {
  z-index: 3;
  position: absolute;
  width: 15%;
  -webkit-transform: scale(0.01);
          transform: scale(0.01);
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-filter .2s linear;
  transition: -webkit-filter .2s linear;
  transition: filter .2s linear;
  transition: filter .2s linear, -webkit-filter .2s linear;
  -webkit-filter: var(--techicons-color-white);
          filter: var(--techicons-color-white);
}

.techstack .technologies .tech-icons .icon:hover {
  -webkit-filter: var(--techicons-color-purple);
          filter: var(--techicons-color-purple);
}

.techstack .technologies .tech-icons .centered-name {
  color: white;
  position: absolute;
  font-family: 'Montserrat',sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.techstack .technologies .tech-icons .centered-name:before {
  content: '';
  position: absolute;
  -webkit-transform: scale(5);
          transform: scale(5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(var(--theme-color), rgba(0, 0, 0, 0));
  z-index: -1;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.icon-highlight {
  -webkit-filter: var(--techicons-color-purple);
          filter: var(--techicons-color-purple);
}

.icon-no-highlight {
  -webkit-filter: var(--techicons-color-white);
          filter: var(--techicons-color-white);
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveBg {
  from {
    background-position: 100%;
  }
  to {
    background-position: -100%;
  }
}

@keyframes moveBg {
  from {
    background-position: 100%;
  }
  to {
    background-position: -100%;
  }
}

@-webkit-keyframes morph {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}

@keyframes morph {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}
/*# sourceMappingURL=style.css.map */